<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>chat_room</title>
</head>
<body>
    <h3 align="center">欢迎来到宝妈聊天室:{{ room_name }}</h3>
    <textarea id="chat-meg-input" cols="100" rows="20"></textarea>

    <table align="center" cellspacing="1">
    </table>
    <br><input type="text" name="message" maxlength="255" /><input type="submit" value="发送" />
    {{ room_name|json_script:"room-name" }}

    <script src="static/Chat/chat_room.js"></script>
</body>
</html>